.App h1 {
  font-size: 20px;
  font-weight: bold;
}

.App button {
  border-radius: 8px;
  padding: 0.2rem 1rem;
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}
